@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    background-image: linear-gradient(35deg, rgb(178, 133, 219), rgb(146, 86, 202), rgb(67, 67, 218));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
#paragrafo
{    position: relative;
    left: 60rem;
    top: 200px;
    text-shadow: 2px 3px 5px #000;
    display: none;
}
.loader
{
    position: absolute;
    top: 25px;
    left: 90rem;
    width: 80px;
    height: 80px;
    border: 12px solid #fff;
    border-radius: 50%;
    border-width: 6px;
    border-right-color: #4070f4;
    animation: spin 1s ease infinite;
    box-shadow: 2px 2px 4px #fff;
    z-index: 1;
    display: none;
    color: #fff;
    text-shadow: 2px 4px 4px #000;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
input[type="text"]
{
    position: relative;
    margin-left: 960px;
    top: -220px;
    left: 8px;
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 1.7rem;
    font-family: cursive;
    background-color: #fff;
    color: #000;
    border-color: transparent;
    border-radius: 10px 0px 0px 10px;
}
#copiar
{
    position: relative;
    top: -12.7rem;
    background-color: #fff;
    border-color: transparent;
    border-radius: 0px 10px 10px 0px;
    left: 4px;
    width: 80px;
    height: 99.9px;
    transition: 0.1s;
}
#copiar:hover
{
    background-color: rgb(80, 166, 216);
}
#copiar:hover #copia
{
    transform: translateY(-5px);
}
#copiar:active
{
    background-color: rgb(62, 173, 62);
}
#copia
{
    width: 60px;
    height: 60px;
    z-index: -1;
    transition: 0.1s;
}
.wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.box div
{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.4);

}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%
    {   
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%
    {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
}

p
{
    position: relative;
    top: 80px;
    margin-left: 130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.7rem;
    color: #fff;
}

h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.75rem;
    margin-top: 10px;
}
.texto1
{
    width: 8ch;
    font-size: 7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #fff;
    margin-left: 140px;
    margin-top: 100px;
}
.texto2
{
    font-size: 9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-style: italic;
    margin-left: 120px;
    margin-top: 1px;
}
.texto3
{
    position: relative;
    top: -220px;
    margin-left: 1050px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: #fff;
}
.botoes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
i
{
    position: relative;
    top: 110px;
    left: 25px;
    margin-left: -10px;
    margin-top: -90px;
    font-size: 3.2rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.botao
{
    text-decoration: none; 
    width: 310px;
    height: 110px;
    position: relative;
    left: 10px;
    top: -80px;
    display: flex;
    margin-left: 50px;
    border-style: solid;
    border-radius: 10px;
    border-color: #fff;
    border-width: 4px;
    color: #fff;
    transition: 0.35s;
    background-color: transparent;
}
.botao:hover
{
    transform: translateY(-10px);
    color: #000;
    background-color: #fff;
    box-shadow: 2px 3px 4px #000;
}
.botao:hover i
{
    color: #000;
} 
.botao:active
{
    transform: translateY(2.25px);
}
.botao:focus body
{
    display: none;
}
.subtexto1
{
    position: relative;
    left: 70px;
    top: 15px;
}
.subtexto2
{
    position: relative;
    top: 15px;
    left: 83px;
}
.subtexto3
{
    position: relative;
    top: 13px;
    left: 82px;
}
.subtexto4
{
    width: 230px;
    position: relative;
    top: 13px;
    font-size: 2.8rem;
    left: 41px;
}
::-webkit-scrollbar
{
    display: none;
}